<div class="bg full-height"></div>
<div class="container login-box">
	<div class="row">
		<div class="col-md-4 col-md-offset-4">
			<div class="login-panel panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title"><b>Cliente Patata Framework</b></h3>
				</div>
				<div class="panel-body">
					<form name="form" ng-submit="vm.login()">
						<fieldset ng-disabled="isLoading()">
							<div class="form-group">
								<select class="form-control" id="terminal" ng-model="vm.terminal" ng-options="terminal as terminal.nombre for terminal in vm.terminales | orderBy: 'id' track by terminal.id" ng-disabled="false">
									<option value="">Seleccione un terminal</option>
								</select>
							</div>
							<div class="form-group">
								<input class="form-control" placeholder="user" name="user" type="text" ng-model="vm.user" required autofocus />
							</div>
							<div class="form-group">
								<input class="form-control" placeholder="password" name="password" type="password" ng-model="vm.password" required />
							</div>
							<button type="submit" class="btn btn-lg btn-success btn-block" name="button" ng-disabled="form.$invalid">Login</button>
						</fieldset>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- /.row -->
</div>
<!-- /.container-fluid -->
