<div class="form-group">
    <label for="nombres" class="control-label">
        Nombres<span class="text-danger">*</span>
    </label>
    <input type="text" name="nombres" id="nombres" class="form-control" ng-model="vm.persona.nombres" readonly />
</div>
<div class="form-group">
    <label for="apellidos" class="control-label">
        Apellidos<span class="text-danger">*</span>
    </label>
    <input type="text" name="apellidos" id="apellidos" class="form-control" ng-model="vm.persona.apellidos" readonly />
</div>
<div class="form-group">
    <label for="documento" class="control-label">
        Documento<span class="text-danger">*</span>
    </label>
    <input type="text" name="documento" id="documento" class="form-control" ng-model="vm.persona.documento" readonly />
</div>
<div class="form-group">
    <label for="email" class="control-label">
        Email
    </label>
    <input type="text" name="email" id="email" class="form-control" ng-model="vm.persona.email" readonly />
</div>
<div class="form-group">
    <label for="telefono" class="control-label">
        Telefono
    </label>
    <input type="text" name="telefono" id="telefono" class="form-control" ng-model="vm.persona.telefono" readonly />
</div>
<div class="form-group">
    <label for="direccion" class="control-label">
        Dirección
    </label>
    <input type="text" name="direccion" id="direccion" class="form-control" ng-model="vm.persona.direccion" readonly />
</div>